<p>consulta works!</p>
<div class="row">
    <div class="col-6">
        <input [(ngModel)]="searchText" type="text" class="formcontrol" placeholder="Type to filter">
    </div>
</div>
<hr>
<table class="table table-striped" *ngIf='creditos && creditos.length'>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">capital</th>
            <th scope="col">interes</th>
            <th scope="col">tiempo</th>
            <th scope="col">credito</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let credito of creditos; index as i ">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ credito.capital}} </td>
            <td>{{ credito.interes}}</td>
            <td>{{credito.tiempo }}</td>
            <td>{{ credito.credito}}</td>
        </tr>
    </tbody>
</table>